[submodule "packages/trevisiol-base"]
	path = packages/trevisiol-base
	url = https://github.com/MarcoTrevisiol/trevisiol-base.git
[submodule "packages/trevisiol-dwm"]
	path = packages/trevisiol-dwm
	url = https://github.com/MarcoTrevisiol/trevisiol-dwm.git
